<% include ./header %>   

<h2 class="text-center"><%= title %></h2>
<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title"> Password Detail</div>
             </div>  
        <div class="panel-body">
        <% if(typeof msg!='undefined' && msg !=''){ %>
          <p style="text-align: center">   <%= msg %></p>
          <% } %>
         
            <form action="/add-password" id="addPassword" class="form-horizontal" method="post"  role="form">
                
                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>

                <div class="form-group">
                        <label for="passwordCategory" class="col-md-3 control-label">Password Category Name</label>
                        <div class="col-md-9">
                            <select name="passwordCategory" class="form-control" required>
                             <option value="">Select</option>
                              <% records.forEach(function(row){ %>   
                                <option <% if(user.category_id==row._id){%> selected<% }%> value="<%=row._id %>"><%=row.category_name%></option>
                                <% }) %>
                              </select>
                              <% if(typeof error!='undefined' && error.passwordCategory) { %><span><%=error.passwordCategory.msg %></span>
                                <% } %>  
                        </div>
                    </div>
                <div class="form-group">
                      <label for="category_name" class="col-md-3 control-label">Password</label>
                      <div class="col-md-9">
                          <textarea class="form-control" name="managePwd" id="managePwd" placeholder="Enter Category Name" required><%=user.pswd %></textarea>
                          <% if(typeof error!='undefined' && error.managePwd) { %><span><%=error.managePwd.msg %></span>
                            <% } %>  
                      </div>
                  </div>
                                
                <div class="form-group">

                <input type="hidden" name="action_type" value="<%=action_type%>">
                <% if(action_type=='edit') {%>   
                    <input type="hidden" name="updId" value="<%=user._id %>">
                    <% } %>   
                                 
                    <div class="col-md-offset-3 col-md-9">
                    <input type="submit" name="submit" value="Add Password" class="btn btn-primary">   
                    </div>
                </div>
                               
            </form>
         </div>
    </div>
</div>

<% include ./footer %>
    