<% include ./header %>   

<h2 class="text-center"><%= title %></h2>
<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

    <% if(typeof msg!='undefined' && msg !=''){ %>
      <div id="signupalert" class="alert alert-success">
      <p><%= msg%>.</p>
      </div>
     <% } %>
    <div class="panel panel-info">
        <div class="panel-heading">

             <div class="panel-title"> View All Password</div>
        </div>  
         <table class="table table-bordered" width="80%">
                    <tbody>
               <tr>
              <th>Password Detail</th>
             
              <th>Actions</th>
              </tr>
              <% records.forEach(function(row) { %>
                <tr>
                  <td><%=row.pswd %></td>
                   <td>
                   <a class="btn btn-primary btn-xs" href="/add-password/<%= row._id %>"><i class="fa fa-edit"></i></a>
                   <a class="btn btn-danger btn-xs" href="/delete/password/<%= row._id %>"><i class="fa fa-trash"></i></a>
                   <a class="btn btn-danger btn-xs"  data-toggle="modal" data-target="#myModal" onclick="showPasswordDetail('<%=row._id %>')"><i class="fa fa-search"></i></a>
                   
                  </td>
          
                </tr>
                <% }) %>
                    </tbody>
          
             </table>
          
                
    </div>
</div>
<!-- start of model popup -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Password Detail</h4>
      </div>
      <div class="modal-body">
        <p id="category_detl"></p>
        <p id="password_detl"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
<!-- End of model popup -->

<% include ./footer %>
    